@import "constants.module.scss";

.label {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 2px;
  border-radius: 4px;
  cursor: grab;
  box-shadow:
    0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
  overflow: hidden;
}

.resize {
  z-index: 1;
  position: relative;
  cursor: ew-resize;
  width: 25px;
}

.drag {
  z-index: 1;
  position: relative;
  flex: auto;
  width: 25px;
}

.contents {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

.dragged {
  z-index: 10;
  cursor: grabbing;
}

.nodrop {
  cursor: no-drop;
}