
.header {
  flex: none;
  display: flex;
  margin: .5rem .8rem;
  margin-bottom: 0;
  align-items: center;
}

.button {
  flex: none;
  margin: .2rem;
  width: auto;
}

.uploadInput {
  visibility: hidden;
  height: 0;
  width: 0;;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.filter {
  margin: .2rem;
  margin-left: .5rem;
  width: 15rem;
}