
.header {
  flex: none;
  display: flex;
  margin: .5rem .8rem;
  margin-bottom: 0;
  align-items: flex-start;
}

.button {
  flex: none;
  margin: .2rem;
  width: auto;
}

.uploadInput {
  visibility: hidden;
  height: 0;
  width: 0;;
}