@import "constants.module.scss";

.compoundValue {
  flex: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: 1px solid $border;
  background-color: rgba($primary,.025);
  padding: 1rem;
  margin-bottom: 1rem;
}

.undefinedValue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.select {
  width: auto;
  margin: .3rem;
  margin-left: 1rem;
}

.value {
  padding: .5rem 0;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}