@import "constants.module.scss";

.multiCompoundValue {
  flex: auto;
  flex-shrink: none;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: 1px solid $border;
  background-color: rgba($primary,.025);
  padding: 1rem .5rem;
  margin-bottom: 1rem;
}

.value {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  margin: .5rem 0;
  width: 100%;
}